<div class="row" data-form-code="{{ manager.definition.code }}" data-form-role="view">
{% for fieldSet in manager.fieldsets %}{%  if not fieldSet.isHiddenInView %}
    {% include '@SpipuUi/entity/viewFieldset.html.twig' with {'manager': manager, 'fieldSet': fieldSet} %}
{% endif %}{% endfor %}
</div>
