{% import '@SpipuUi/macro/size.html.twig' as convertSize %}
<td data-grid-field-name="{{ column.code }}" class="{{ column.option('td-css-class', 'text-right') }}">
    {{ convertSize.bytesToSize(data) }}
</td>
