<tr class="{{ manager.definition.option('tr-css-class', '') }}">
{% if manager.definition.massActions|length > 0 %}
    <td><input type="checkbox" value="{{ attribute(row, manager.definition.dataProviderPrimaryKey) }}" data-grid-code="{{ manager.definition.code }}" data-grid-role="checkbox" /></td>
{% endif %}
{% for column in manager.definition.columns %}
    {% apply spaceless %}{% include column.type.templateField with {'manager': manager, 'row': row, 'column': column, 'data': manager.value(row, column.entityField)} %}{% endapply %}

{% endfor %}
{% if manager.definition.rowActions|length > 0 %}
    <td class="text-right">{% apply spaceless %}
        {%  include manager.definition.templateActions with {'manager': manager, 'row': row} %}
    {% endapply %}</td>
{% endif %}
</tr>
